<div class="px-40 py-20 flex flex-col gap-8">
  <h1 class="text-3xl font-bold underline text-center">LOGIN PAGE!</h1>

  <div class="flex flex-col">
    <label for="username" class="text-gray-500">Username</label>
    <input
      type="text"
      name="username"
      id="username"
      [value]="username"
      [(ngModel)]="username"
      class="border outline-pink-800 px-5 py-2"
    />
  </div>

  <div class="flex flex-col">
    <label for="password" class="text-gray-500">Senha</label>
    <input
      type="{{ showPass ? 'text' : 'password' }}"
      name="password"
      id="password"
      [value]="password"
      [(ngModel)]="password"
      class="border outline-pink-800 px-5 py-2"
    />
  </div>

  <div class="flex gap-2 items-center">
    <input
      type="checkbox"
      name="toggleShowPass"
      id="toggleShowPass"
      [(ngModel)]="showPass"
    />
    <label for="toggleShowPass">Mostrar senha</label>
  </div>

  <div>
    <button class="bg-pink-800 w-full py-3 rounded-sm text-white" (click)="login()">
      Sign In
    </button>
  </div>
</div>
